{% extends "base.html" %}

{% block title %}
    Player choices
{% endblock %}


{% block script %}
<script>
    $(function() {

        setTimeout(function(){


            window.location.href = "main_screen_answers";

        }, 4000);

    });


</script>
{% endblock %}

{% block content %}
    <h1>
        {{ question.question }}
    </h1>
    <div class="answers">
        <h3>{{ question.choice_1 }}</h3>
        <h3>{{ question.choice_2 }}</h3>
        <h3>{{ question.choice_3 }}</h3>
        <h3>{{ question.choice_4 }}</h3>
    </div>
    <img id="qr_code" src="/static/qr.png"/>
{% endblock %}