{% extends "base.html" %}

{% block title %}
    Player choices
{% endblock %}


{% block script %}
<script>
    $(function() {

        var player_id = sessionStorage.getItem("player_id");
        $('input[name="player_id"]').val(player_id);

        $('button').click(function(){

            //$('#wait').show("slow");
            $('#wait').fadeIn(500);

            $('input[name="player_choice"]').val($(this).val());

        });


        setTimeout(function(){

            var correct_choice = $('input[name="correct_choice"]').val();

            if($('input[name="player_choice"]').val() == correct_choice)
                $('#correct').show("slow");
            else
                $('#incorrect').show("slow");

            setTimeout(function(){
                $('form').submit();
            }, 2000);


        }, 3000);

    });


</script>
{% endblock %}

{% block content %}
    <div class="wrapper">

        <div id="wait">
            <h1>Wait a minute...</h1>
        </div>

        <div id="correct">
            <span>V</span>
            <h1>Great! <br>Correct answer! :)</h1>
        </div>

        <div id="incorrect">
            <span>X</span>
            <h1>Uh oh<br>Incorrect answer! :(</h1>
        </div>



        <div id="choices">
            <h1>Choose an answer</h1>

            <button name="choice" value="1">1</button>
            <button name="choice" value="2">2</button>
            <button name="choice" value="3">3</button>
            <button name="choice" value="4">4</button>

            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="player_id" />
                <input type="hidden" name="player_choice" />
                <input type="hidden" name="correct_choice" value="{{ correct_choice }}" />
            </form>
        </div>
    </div>

{% endblock %}