<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            DEFAULT TITLE
        {% endblock %}
    </title>


{% block script %}

{% endblock %}

</head>
<body>

    {% block content %}
        DEFAULT CONTENT
    {% endblock %}

</body>
</html>